<h2>User Management System</h2>
<table>
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Roll No</th>
    <th>Age</th>
    <th>Phone</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>

  <tbody>
    <td>1</td>
    <td>Jayanth</td>
    <td>7376212II157</td>
    <td>21</td>
    <td>9876545678</td>
    <td><a href class="edit">Edit</a></td>
    <td><a href class="delete">Delete</a></td>
  </tbody>
  <tbody>
    <td>1</td>
    <td>Jayanth</td>
    <td>7376212II157</td>
    <td>21</td>
    <td>9876545678</td>
    <td><a href class="edit">Edit</a></td>
    <td><a href class="delete">Delete</a></td>
  </tbody>
  <tbody>
    <td>1</td>
    <td>Jayanth</td>
    <td>7376212II157</td>
    <td>21</td>
    <td>9876545678</td>
    <td><a href class="edit">Edit</a></td>
    <td><a href class="delete">Delete</a></td>
  </tbody>
</table>